* {
    background-color: lightgray;
    margin: 0;
    padding:0;
    font-size: 16;
}
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
} 
.logo{
    width: 180px;
    margin: 20px 0px 0px 20px;
    border-radius: 50%;
}
.nav-items ul{
    display:flex;
    padding-top:20px;
    margin: 20px;
} 
.nav-items ul li{
        margin: 10px;
        padding: 10px;
        list-style: none;
        font-size: 24px;
        font-weight: bold;
}
.filter{
padding: 5px;
/* border: 2px solid black; */
margin: 10px;
}
.search-box{
    padding: 0px 10px;
}
.search-btn{
    margin: 0px 10px 10px 0px ;
    padding: 0px 10px;
    background-color: #f0f0f0;
    cursor: pointer;
}
.filter-btn{
    /* margin: ; */
    padding: 0px 10px;
    cursor:pointer;
    background-color: #f0f0f0;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    padding:16px;
    margin: 10px; 
    width: 250px;
    /* height  : 360px; */
}
.res-card:hover{
    cursor: pointer;
    border: 2px solid black;
}
.res-logo{
    /* padding: 5px; */
    height: 250px;
    width: 100%;
}
h3{
    padding: 10px 0px;
}
h4{
    color: grey;
}
/* Shimmer UI */
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    background-color: #f0f0f0;
    width: 250px;
    margin: 10px;
    padding: 16px;
    height: 360px; 
}
.login{
    padding: 0px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
